
<div class="col-md-4 center-block">
    <h1>Login</h1>
    <div id="errors">
    </div>
    <form id="form" class="form text-left" data-parsley-validate="parsley">
        <div class="main-form">
            <div class="group">
                <div class="form-group">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" data-parsley-required="true" data-parsley-notblank="true">
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" data-parsley-required="true" data-parsley-notblank="true" data-parsley-rangelength="[5,25]">
                </div>
            </div>
            <button type="button" id="login" class="btn btn-lg btn-primary btn-block" data-parsley-bypass>Sign in</button>
        </div>
        <div class="etc-form">
            <!--<p>forgot your password? <a href="#">click here</a></p>-->
            <p>new user? <a href="#" id="signup">create new account</a></p>
        </div>
    </form>
</div>   